{% extends "../layout.twig" %}

{% block main %}
    <h1>update</h1>
    <form action="/types/update/{{type.id}}" method="POST">


        <label>name :
            <input name="name" type="text" value="{{type.name}}"/></label><br/>

        <input type="submit" value="update">
    </form>
    {% if errors is defined %}
        <ul class="errors" style="color:red;">
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{# <input name="sexe" type="radio" value="false" {% if category.sexe == false %} checked="checked" {% endif %}/>Femme
    <input name="sexe" type="radio" value="true" {% if category.sexe == true %} checked="checked" {% endif %}/>Homme<br/>
    <label>Email :
    </label>
    <input name="email" type="email" value="{{category.email}}"/><br/>
    <label>Téléphone :
    </label>
    <input max="99999999" name="telephone" type="number" value="{{category.telephone}}"/><br/>
    <select name="option">
        <optgroup label="--choisir option--">
            <option value="TWIN" {% if category.option=="TWIN" %} selected {% endif %}>TWIN</option>
            <option value="GL" {% if category.option=="GL" %} selected {% endif %}>GL</option>
            <option value="SIM" {% if category.option=="SIM" %} selected {% endif %}>SIM</option>
            <option value="ARCTIC" {% if category.option=="ARCTIC" %} selected {% endif %}>ARCTIC</option>
        </optgroup>
    </select>
    <br/> #}
